<div class="hero">
  <div class="hero-text">
    <h1 class="hero-name">KADEN OLDHAM</h1>
    <div class="code-line">
      <div class="code-rows ">
        <div class="line hide hundred dark margin-none"></div>
        <div class="line fifty orange margin-none"></div>
        <div class="line fifty red margin-none"></div>
        <div class="line hundred green margin-none"></div>
        <div class="line fifty dark margin-none"></div>
        <div class="line hide fifty blue margin-none"></div>
      </div>
    </div>
  </div>
</div>

<div class="about bg-light row">
  <div class="left-container col-md-6">
    <h3 class="title">Interests</h3>
    <div class="interests">
      <p>Coding of course <span class="hide">-</span></p>
      <p>Snowmobiling <span class="hide">-</span></p>
      <p>Love of Outdoors <span class="hide">-</span></p>
      <p>League of Legends <span class="hide">-</span></p>
      <p>Motorcycles <span class="hide">-</span></p>
      <p>Reading <span class="hide">-</span></p>
    </div>
  </div>
  <div class="right-container col-md-6">
    <h3 class="title">Skills</h3>
    <div class="skills">
      <p><span class="hide">-</span> Swift</p>
      <p><span class="hide">-</span> Objective C</p>
      <p><span class="hide">-</span> iOS Development</p>
      <p><span class="hide">-</span> CloudKit</p>
      <p><span class="hide">-</span> ARkit</p>
      <p><span class="hide">-</span> UIkit</p>
      <p><span class="hide">-</span> Organic Farming</p>
      <p><span class="hide">-</span> Git</p>
    </div>
  </div>
</div>
<div class="footer">
  <div class="code-line">
    <div class="code-rows">
      <div class="line hundred dark"></div>
      <div class="line fifty orange"></div>
    </div>
    <div class="code-rows">
      <div class="line fifty orange"></div>
      <div class="line hundred green"></div>
      <div class="line fifty blue"></div>
      <div class="line hundred dark"></div>
    </div>
    <div class="code-rows">
      <div class="line fifty orange"></div>
      <div class="line fifty dark"></div>
      <div class="line hundred red"></div>
      <div class="line fifty blue"></div>
    </div>
    <div class="code-rows">
      <div class="line fifty orange"></div>
      <div class="line hundred blue"></div>
      <div class="line fifty red"></div>
      <div class="line hundred orange"></div>
      <div class="line fifty blue"></div>
    </div>
    <div class="code-rows">
      <div class="line fifty orange"></div>
      <div class="line hundred green"></div>
      <div class="line hundred dark"></div>
    </div>
    <div class="code-rows">
      <div class="line hundred dark"></div>
      <div class="line fifty orange"></div>
    </div>
  </div>
</div>
