<div class="hero">
  <div class="hero-text">
    <h1>KADEN OLDHAM</h1>
  </div>
</div>

<div class="about bg-light row">
  <div class="left-container col-md-6">
    <h3 class="title">Interests</h3>
    <div class="interests">
      <p>Coding of course <span class="hide">-</span></p>
      <p>Snowmobiling <span class="hide">-</span></p>
      <p>Love of Outdoors <span class="hide">-</span></p>
      <p>League of Legends <span class="hide">-</span></p>
      <p>Motorcycles <span class="hide">-</span></p>
      <p>Reading <span class="hide">-</span></p>
    </div>
  </div>
  <div class="right-container col-md-6">
    <h3 class="title">Skills</h3>
    <div class="skills">
      <p><span class="hide">-</span> Swift</p>
      <p><span class="hide">-</span> Objective C</p>
      <p><span class="hide">-</span> iOS Development</p>
      <p><span class="hide">-</span> CloudKit</p>
      <p><span class="hide">-</span> ARkit</p>
      <p><span class="hide">-</span> UIkit</p>
      <p><span class="hide">-</span> Organic Farming</p>
      <p><span class="hide">-</span> Git</p>
    </div>
  </div>
</div>
