.hero {
  display: flex;
  justify-content: center;
  .hero-text {
    padding-top: 10px;
    padding-bottom: 70px;
    .hero-name {
      letter-spacing: 2px;
      font-size: 55px;
      @include media-breakpoint-down(sm) {
        font-size: 33px;
      }
    }
    .code-line .code-rows .line.margin-none {
      margin: 0 10px 0 0;
    }
  }
}

.para {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  #self-image {
    width: 300px;
    height: 300px;
    margin-right: 15px;
    @include media-breakpoint-down(sm) {
      align-self: center;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .parag {
    width: 300px;
    margin-left: 15px;
    align-self: center;
  }

}

.about {
  .title {
    padding: 11px;
    letter-spacing: 1px;
  }
  .left-container {
    .title, .interests {
      text-align: right;
      @include media-breakpoint-down(sm) {
        text-align: center;
        .title {
          padding-right: 0;
        }
      }
    }
  }
  .right-container {
    .title, .skills {
      @include media-breakpoint-down(sm) {
        text-align: center;
        .title {
          padding-left: 0;
        }
      }
    }
  }
}

.code-line {
  .code-rows {
    display: flex;
    .line {
      height: 8px;
      border-radius: 50px;
      margin: 10px 0 0 10px;
      display: inline-block;
    }
    .line.hundred {
      width: 100px;
    }
    .line.fifty {
      width: 50px;
    }
  }
}

.footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  .contact {
    align-self: center;
    margin-right: 25px;
    @include media-breakpoint-down(sm) {
      order: -1;
      margin: 20px 0;
    }
  }
}

// background colors
.dark {
  background-color: #4d4d4d;
}
.grey {
  background-color: #676767;
}
.blue {
  background-color: #4283de;
}
.green {
  background-color: #6fcc9f;
}
.red {
  background-color: #d33f3f;
}
.orange {
  background-color: #f48f76;
}

@include media-breakpoint-down(sm) {
  .hide {
    display: none;
  }
  .line.margin-none.hide {
    display: none;
  }
}

